<header>
    <nav class="navbar">
      <h1>The Clubhouse</h1>
      <div class="navbarLinksContainer">
        <a href="/">Messages</a>
          <a href="/form/sign-up">Sign Up</a>
          <a href="/form/log-in">Log In</a>
      </div>
    </nav>
  </header>