<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
</head>
<body>
    <h1><%= locals.title %></h1>
    <form action="/form/log-in" method="POST">
        <label for="username">Username: </label>
        <br>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Password: </label>
        <br>
        <input type="password" name="password" id="password">
        <button>Submit</button>
    </form>
</body>
</html>