<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= locals.title %></title>
</head>
<body>
    <%- include('partials/navbar') %>
    <main class="mainContainer">


            <form action="/form/log-in" method="POST">
                <h1 class="signUpHeading"><%= locals.title %></h1>
                <div class="formInputsGridCont">
                    <div class="formLabelAndInputCont">
                        <label for="username">Username: </label>
                        <input type="text" name="username" id="username">
                    </div>
                    <div class="formLabelAndInputCont">
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password">
                    </div>
                </div>
                <button class="button-23" role="button">Log In</button>
            </form>

    </main>
</body>
</html>