<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Sign up</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <main class="mainContainer">
        <form action="/form/sign-up" method="POST" class="signUpForm">
            <h1 class="signUpHeading">Enter The Club</h1>
            <% if(locals.errors) { %>
                <ul>
                <% locals.errors.forEach(error => { %>

                    <li><%= error.msg %></li>

                <% }) %>
            </ul>
                <% } %>
            <div class="formInputsGridCont">
                <div class="formLabelAndInputCont">
                    <label for="username">Username: </label>
                    <input type="text" name="username" id="username">
                </div>
                
                <div class="formLabelAndInputCont">
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="formLabelAndInputCont">
                    <label for="confirmPassword">Confirm Password: </label>
                    <input type="text" name="confirmPassword" id="confirmPassword">
                </div>
                <div class="formLabelAndInputCont">
                    <label for="firstName">First Name: </label>
                    <input type="text" name="firstName" id="firstName">
                </div>
                <div class="formLabelAndInputCont">
                    <label for="lastName">Last Name: </label>
                    <input type="text" name="lastName" id="lastName">
                </div>
                <button class="button-23" role="button">Sign Up</button>
            </div>
        </form>
    </main>
</body>
</html>