:root {
  /* --bleached-cedar: #351F39;
--kimberly: #726A95;
--shadow-green: #A0C1B8;
--gothic: #719FB0;

--cerise: #F90060ff;
--black: #000000ff;
--night: #040E08ff;
--tekhelet: #4E2299ff;
--dark-cyan: #3D9189ff;


--dark-pastel-green: #07C658ff;
--olivine: #A5C387ff;
--blush: #C06A86ff;
--dim-gray: #73695Bff;
--cambridge-blue: #84A58Cff; */

  --dark-background: #18122B;

  --defaultContanierWidth: 1000px;
  --defaultContainerPaddingRightLeft: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  max-width: var(--defaultContanierWidth);
  margin: 0 auto;
  padding-left: var(--defaultContainerPaddingRightLeft);
  padding-right: var(--defaultContainerPaddingRightLeft);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 3px solid #443C68;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarHeading, .navbarHeading a {
  color: #fff;
  text-decoration: none;
}

.navbarLinksContainer {
  display: flex;
  gap: 1rem;
}

a {
  color: #fff;
}

body {
  background-image: linear-gradient( to right,var(--dark-background), #393053);
  color: #fff;
}

.mainContainer {
  max-width: var(--defaultContanierWidth);
  margin: 0 auto;
  padding-left: var(--defaultContainerPaddingRightLeft);
  padding-right: var(--defaultContainerPaddingRightLeft);
}

.newMessageForm {
  margin-top: 1rem;
}

.msgUnorderedList {
  list-style-type: none;
  padding: 0;
  margin: 2rem auto;
  max-width: 80%;

}

.msgUnorderedList li {
  
  border-bottom: 3px solid #635985;
  padding: 0;
  margin: 1rem 0;
  grid-template-columns: 1fr 10fr 2fr;
  grid-template-rows: .5fr 1.5fr;
  gap: 1rem 0;
}

.messageGridContainer {
  display: grid;


}


.formInputsGridCont {
  display: grid;
  grid-template-columns: repeat(auto-fit, 450px);
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  gap: 1rem;
}

.msgPara {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  max-width: 75ch;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  line-height: 1.6rem;
}

.msgHeadingAndTimeContainer {
  display: flex;
  justify-content: space-between;
  grid-column: 2 / 4;
}

.signUpHeading {
  text-align: center;
  margin-top: 1rem;
}

.formLabelAndInputCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  font-size: 2rem;
}

.formLabelAndInputCont input, .formLabelAndInputCont textarea {
  background-color: var(--night);
  border: 2px solid #635985;
  border-radius: 7px;
  width: 100%;
}

.mustBeLoggedInParaContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: var(--defaultContanierWidth);
  margin: 2rem auto;
  text-align: center;
}

.newPostFieldSet {
  border: 2px dashed #635985;

}



legend {
  font-size: 1.5rem;
}

span {
  font-size: 2rem;
}

[type="text"],
[type="password"], textarea {
  font-size: 2rem;
  color: var(--dark-cyan);
  padding: .5rem;
}

textarea {
  resize: vertical;
}

.loginFormAndHeader {
  max-width: 500px;
  margin: 1.5rem auto;
}



/* .signUpBtnContainer {

}

.signUpForm {

} */


/* CSS */
.button-23 {
  display: block;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;

  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;

  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  margin-left: auto;
  justify-self: end;
  align-self: end;
  margin-bottom: 1rem;
}



.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.becomeMemberLabelAndPassCont {
  max-width: 50%;
  margin: 2rem auto;
  text-align: center;
}

.becomeMemberLabelAndPassCont input {
  text-align: center;
}

.becomeAMemberPassBtn {
  display: block;
  margin: 0 auto;
}

@media (max-width: 725px) {
  .navbar {
    flex-direction: column;
    
  }

  .newMessageForm legend, .newMessageForm label, .newMessageForm div [type='text'], .newMessageForm textarea {
    font-size: 1rem;
  }

  .sendMsgBtn {
    font-size: .7rem;
    padding: .5rem;
  }

  .msgUnorderedList {
    max-width: 100%;
  }
/* 
  .msgUnorderedList li {
    
  } */

  .msgHeadingAndTimeContainer {
    flex-direction: column;
    justify-content: flex-start;
  }
}